/* 
 * ----------------------------------------------
 * - MEDIA QUERIES -
 * ---------------------------------------------- 
 */

 /* If screen size is more than 900px wide */
 @media screen and (min-width: 900px) {
  html, body {
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: scroll;
  }
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400vh;
    overflow-x: hidden;
  }
  h1 {
    font-size: 2vw;
  }
  h2 {
    font-size: 1vw;
  }
  h3 {
    font-size: 1vw;
  }
  p, i {
    font-size: 0.9vw;
  }
  #navbar {
    position: fixed;
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: flex-end;
    width: 6vw;
    top: 3vw;
    left: 94vw;
    opacity: 0;
    margin-right: 12vw;
  }
  #nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    margin-right: 2vw;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
    list-style-type: none;
  }
  #nav-list li, .nav-link {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 6vw;
    background: rgba(63,63,67,1);
    text-decoration: none;
    color: white;
  }
  #nav-list li, .nav-link:hover {
    background-color: #27a594;
  }
  .nav-link-active {
    background-color: #27a594;
  }
  .section-cards {
    z-index: 1;
    display: block;
    background-color: rgba(63,63,67,0.85);
    flex: 1;
    margin-top: 0vh;
    scroll-margin-top: 0vh;
  }
  .section-cards-header {
    scroll-margin-top: 0vh;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  #welcome {
    min-height: 100vh;
    max-height: 100vh;
  }
  #background-overlay {
    justify-content: center;
  }
  #socialSites {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin-top: 85vh;
    margin-right: 0vw;
  }
  #socialSites a {
    font-size: 1vw;
  }

  #interactive-cv {
    flex: 1.5;
    width: 50vw;
  }
  #clickable-timeline-container {
    width: 50vw;
  }
  #clickable-timeline {
    height: 6em;
  }
  #skill {
    flex: 1;
    min-width: 0vw;
  }
  #skill-background-picture {
    flex: 1;
    background-image: linear-gradient(to right, rgba(63,63,67,1), rgba(120,120,120,0.9)), url(../images/skills-background.jpg);
    background-size: cover;
  }
  .skill-card-grid {
    justify-content: space-around;
  }
  .skill-row {
    padding-bottom: 0.6em;
  }
  .skill-text {
    width: 10vw;
    font-size: 1vw;
  }
  .circle-container{
    width: 1.5vw;
    height: 1.5vw;
  }
  .circle-container:after {
    width: 1vw;
    height: 1vw;
    border: 3px solid rgb(39, 165, 148);
  }
  .fill-up-five-circles, .fill-up-four-circles, .fill-up-three-circles, .fill-up-two-circles, .fill-up-one-circle{
    width: 7.4vw;
    height: 1.5vw;
  }
  #profile {
    align-items: center;
  }
  #profile-section-container {
    flex: 1;
    width: 50%;
  }
  #interactive-cv {
    flex:2.5;
  }
  #clickable-timeline-container {
    display: flex;
    justify-content: center;
    flex:1;
  }
  #it-skills {
    display: grid
  }
  .skill-grid-header {
    grid-column: 1 / span 2;
  }
  #profile-picture {
    width: 10vw;
    height: 20vh;
  }
  #project-grid {
    grid-template-columns: auto;
    width: 50%;
  }
  .project-grid-item:first-child { 
    grid-column: 1;
  }
}